@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }

    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }

    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }

    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }

    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }

  --animate-background-position-spin: background-position-spin 3000ms infinite alternate;
  @keyframes background-position-spin {
    0% {
      background-position: top center;
    }
    100% {
      background-position: bottom center;
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-neutral-50 text-neutral-900 dark:bg-neutral-950 dark:text-neutral-50;
  }

  .section-padding {
    @apply p-2;
  }
}

@layer utilities {
  .theme {
    @apply bg-neutral-50 text-neutral-900 dark:bg-neutral-950 dark:text-neutral-50;
  }

  .theme-2 {
    @apply bg-neutral-200 dark:bg-neutral-800;
  }

  .primary-text {
    @apply text-neutral-950 dark:text-neutral-50;
  }

  .tertiary-text {
    @apply text-neutral-900 dark:text-neutral-100;
  }

  .prompt-text {
    @apply break-all text-balance text-sm;
  }

  .secondary-text {
    @apply text-muted-foreground;
  }

  .link-text {
    @apply text-lime-500 dark:text-lime-500 hover:underline font-semibold;
  }

  .title-text {
    @apply text-2xl md:text-3xl font-bold;
  }

  .subtitle-text {
    @apply text-base md:text-lg font-bold text-neutral-300 dark:text-neutral-700;
  }

  .magic-transition {
    @apply transition-all duration-200 ease-in-out;
  }

  .magic-hover {
    @apply hover:text-black hover:bg-lime-400/90 hover:dark:text-black hover:dark:bg-lime-500;
  }

  .secondary-hover {
    @apply hover:bg-muted-foreground/20;
  }

  .state-center {
    @apply flex items-center justify-center w-full h-full;
  }
}

@layer components {
  .btn-magic {
    @apply bg-lime-300 border-lime-300 text-lime-950 dark:bg-lime-400 dark:text-lime-950 cursor-pointer;
  }

  .btn-login {
    @apply bg-lime-300! border-lime-300/50! text-lime-950! dark:bg-lime-400! dark:text-lime-950! cursor-pointer;
  }

  .btn-outline {
    @apply bg-lime-300/50! border-lime-300/70! text-lime-950! dark:bg-lime-800/20! dark:text-lime-500! dark:border-lime-800/50! border! cursor-pointer;
  }

  .btn-solid {
    @apply bg-lime-300! border-lime-300! text-lime-950! dark:bg-lime-400! border! shadow-lime-800/10 shadow-xl! cursor-pointer;
  }

  .btn-glass {
    @apply bg-white/20! dark:bg-black/20! backdrop-blur-lg! border-none! hover:bg-none! text-white! cursor-pointer;
  }

  .btn-magic-secondary {
    @apply bg-neutral-200 border-neutral-200/50 dark:bg-neutral-800/20 dark:border-neutral-800/50 border cursor-pointer;
  }
}

@layer utilities {
  .grid-4 {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4;
  }

  .grid-3 {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4;
  }

  .grid-2 {
    @apply grid grid-cols-1 md:grid-cols-2 gap-4;
  }

  .grid-1 {
    @apply grid grid-cols-1 gap-4;
  }

  .grid-3-mobile {
    @apply grid grid-cols-3 gap-0;
  }
}

@layer components {
  .special-btn button {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 0;
    outline: 0;
    background: #03001e;
    background: linear-gradient(80deg, #ffcbf2, #ec38bc, #7303c0, #03001e);
    cursor: pointer;
  }

  .special-btn {
    position: relative;
    overflow: visible;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }

  .special-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    top: 20px;
    z-index: -1;
    background: #03001e;
    background: linear-gradient(80deg, #ffcbf2, #ec38bc, #7303c0, #03001e);
    filter: blur(20px);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }

  .special-btn:hover {
    transform: scale(1.03);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }

  .special-btn:hover:after {
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    opacity: 0.1;
  }

  .special-btn:active {
    transform: scale(1);
  }

  .special-btn:active:after {
    opacity: 0;
  }

  .special-btn button span {
    color: white;
    font-weight: 700;
    font-size: 16px;
  }

  .special-btn button div.star {
    width: 1px;
    height: 1px;
    background-color: white;
    border-radius: 50%;
    animation: blink 2s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
  }

  .special-btn button div.shooting-star {
    width: 80px;
    height: 1px;
    position: absolute;
    background: linear-gradient(80deg, #ffffffff, #ffffff00);
    border-radius: 50%;
    transform: rotate(-40deg);
    opacity: 0;
  }

  .special-btn button div.shooting-star-1 {
    animation: fallingStar1 4s 6s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
  }

  .special-btn button div.shooting-star-2 {
    animation: fallingStar2 2s 10s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
  }

  .special-btn button div.shooting-star-3 {
    animation: fallingStar3 8s 20s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
  }

  .special-btn button div.shooting-star-4 {
    animation: fallingStar4 4s 6s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
  }

  @keyframes blink {
    0% {
      box-shadow: 0 0 10px 0 white;
    }

    50% {
      box-shadow: 0 0 10px 2px white;
    }

    100% {
      box-shadow: 0 0 10px 0 white;
    }
  }

  @keyframes fallingStar1 {
    0% {
      top: -10px;
      left: 220px;
      opacity: 1;
    }

    100% {
      top: 200px;
      left: -20px;
      opacity: 1;
    }
  }

  @keyframes fallingStar2 {
    0% {
      top: -10px;
      left: 150px;
      opacity: 1;
    }

    100% {
      top: 200px;
      left: -90px;
      opacity: 1;
    }
  }

  @keyframes fallingStar3 {
    0% {
      top: -10px;
      left: 80px;
      opacity: 1;
    }

    100% {
      top: 200px;
      left: -160px;
      opacity: 1;
    }
  }

  @keyframes fallingStar4 {
    0% {
      top: -10px;
      left: 0px;
      opacity: 1;
    }

    100% {
      top: 200px;
      left: -240px;
      opacity: 1;
    }
  }
}
